.table-mesAtual td span,
.table-balanco td span {
    font-size: 18px;
}

.text-entrada {
    color: #208537;
}

.text-saida {
    color: #C00;
}


.bg-mesAtual {
    background-color: #F0FFF5;
}

.bg-balanco {
    background-color: #F5F5F5;
}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

.btn-edit,
.btn-del {
    font-size: 1.25rem;
}

.btn-secondary {
    background-color: #A6ACB1 !important;
    border-color: #A6ACB1 !important;
}

.table-responsive tr th.vl {
    min-width: 125px !important;
}


.swal2-overflow {
    overflow-x: visible;
    overflow-y: visible;
}